# Yarn 2 - https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
.yarn/install-state.gz
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versionss

__pycache__
node_modules/.cache/@babel/register/.babel.7.13.14.development.json
